<app-dashboard></app-dashboard>

  
   <form #tvarform="ngForm" (ngSubmit)= "submit(tvarform)" action="" style="padding:10px;">
   <div class="form-group">
      <label for="firstName">First Name</label>
      <input ngModel name="firstName" required minlength="3" pattern="bananna" maxlength="12" id ="firstName" #f="ngModel" 
      (change) = "log(f)" type="text" class="form-control">  
  
  
      <div *ngIf="f.touched && !f.valid" class="alert alert-danger">
          
              <!-- <div *ngIf="!f.valid">  -->
                
                <div *ngIf="f.errors.minlength"> Minimum length Error</div>
                <div *ngIf="f.errors.maxlength"> Maxiumum length Error </div>
                <div *ngIf="f.errors.required"> Required field error </div>
                <div *ngIf="f.errors.pattern"> Pattern field error </div>
          
          
              <!-- </div> -->
             
            </div>
      <label for="lastName1">Last Name</label>
      <input ngModel name="lastName" required minlength="3" maxlength="12" id ="lastName" #l="ngModel" 
      (change) = "log(l)" type="text" class="form-control">  
          <div *ngIf="l.touched && !l.valid" class="alert alert-danger">
          
              <div *ngIf="l.errors.required">    Last Name should not be empty </div>
              <div *ngIf="l.errors.minlength">    Last Name should be minimum 3 charcters in length</div>
              <div *ngIf="l.errors.maxlength">    Last Name should be maximum 10 charcters in length</div>
                
          </div>
      <label for="comments">Comments</label>
      <textarea ngModel name="comments" required  cols="30" rows="10" id ="comments" #comments="ngModel" 
      (change) = "log(comments)" type="textarea" class="form-control">  </textarea>
        
      <button class="btn" [class.btn-secondary]="!tvarform.valid" [class.btn-primary]="tvarform.valid" [disabled]="!tvarform.valid"> Submit</button>
    </div>
    
    <div class="card" style="width:20rem">
        <img src="https://lorempixel.com/300/300/sports/" alt="card image" class="card-img-top">
        <div class="card-body">
     
         <h4 class="card-title"> Card Title   </h4>
         <p class="card-text"> Lorem ipusm lorem ipsum  Lorem ipusm lorem ipsum Lorem ipusm lorem ipsum Lorem ipusm lorem ipsum Lorem ipusm lorem ipsum Lorem ipusm lorem ipsum Lorem ipusm lorem ipsum Lorem ipusm lorem ipsum </p>
         <a href="" class="btn btn-success btn-block">  Read More...</a>
        </div>
      </div>
        
    <div class="card" style="width:20rem">
        <img src="https://lorempixel.com/300/300/sports/" alt="card image" class="card-img-top">
        <div class="card-body">
     
         <h4 class="card-title"> Card Title   </h4>
         <p class="card-text"> Lorem ipusm lorem ipsum  Lorem ipusm lorem ipsum Lorem ipusm lorem ipsum Lorem ipusm lorem ipsum Lorem ipusm lorem ipsum Lorem ipusm lorem ipsum Lorem ipusm lorem ipsum Lorem ipusm lorem ipsum </p>
         <a href="" class="btn btn-success btn-block">  Read More...</a>
        </div>
      </div>
   </form>
  
   <!-- {{tvarform.value}} <br>
   {{tvarform.valid|json}}  -->
  
   <!-- <div class="list-group">
      <div class="list-group-item" > Item 1 </div>
  <div class="list-group-item"> Item 1 </div>
  <div class="list-group-item"> Item 1 </div>
  <div class="list-group-item"> Item 1 </div>
  
   </div> -->
  
   